server {
    listen 80;
    server_name {{ ssl_domains | join(' ') }};

    location /.well-known/acme-challenge/ {
        root {{ letsencrypt_webroot_path }};
        try_files $uri =404;
    }

    location / {
        return 301 https://$server_name$request_uri;
    }
}